.ant-row {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ant-list-grid .ant-list-item {
    height: 100%;
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
    padding-bottom: 16px;
}
.ant-list-grid .ant-list-item-content{
    display: flex;
    align-items: stretch;
}
.ant-list-grid .ant-card.ant-card-bordered {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.ant-card.ant-card-bordered .ant-card-cover {
    flex: 1;
}
.ant-card-cover img {
    height: 100%;
}

.ant-card-actions {
    background: #fff;
}